files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCwtlxIEbtbKqDkKMcVUkDnui95NNAeOl7RREodiG1TZsHRPFSJ6t+nGa0ryQw/Hj0rT/ygbgOu95j02Dosnl0cOWi0MQqRJgflvEv02Nz3pLvcke92lpAukXZxZppUPDpCq7+UvvzOj8N2pndFYMkWJbU6Z60BPUO1RVAy+0YIk5HPRxn8FNYEn/7lTkQJFkIPosi7/O0RHqaMyUkpZVxp7E/74IJt6YXp/bXqLwsJ302u9+lGoshGHshAhJqC8vKKZvj7Y4Vhfd5h5YD9BEQ6nLcEEGhQ+cKt09f6QbXMal4isfJfEHTncY3qGw3T3Oz4bMBGc1pcVm0Trlyrm/ebR6MDNBcnCRtjtmnjbVsi20MIh0CLXVFlNaXYmSq9nsxZqN9ovJLZAeb+FVZehsfKVGSD4aCgnzE/LWnw81jAp5mOXaSKYVYQUzwzIgLlYU+5tbxF044jseePcCQfHbM5pXE5lFCsWN442oQMV0wkxDI4AuF3fHloNfnoKiL+R9w/iNPwkUd2gLrx71060AA0TEdvRKM5Fubqt9SrbHCUg1/Eqo7w9s69DKj5/PPqq3F4NoOM7vaBLdSxmS2vVJ5Bjig60lh8IgOZdG1BEQfWuc+wFaebeV4sAanPWcwLFUl58khSYuFjQoDbloFZ4qTfg+z5qkNPVrreE0gRNBLPPw== azra.demirovic@verybigthings.com
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
