<div class="media mt-3 lineitem-detail">
   <a class="pr-3" href="#">
   <%= img_tag(AdminAppWeb.ProductView.get_product_display_image(@line_item.product), class: "card-img-top") %>
   </a>
   <div class="media-body">
      <div class="mt-0 text-capitalize name"><%= render_variant(@line_item.product) %></div>
      <div class="variant">
         <span>Quantity</span>
         <span><%= render_quantity_with_stock(@line_item) %></span>
      </div>
   </div>
</div>
